*.iml
.gradle
gradle*
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures

*.class
*.apk
bin/
gen/
.settings/
.classpath
.idea/

*.log
*.ap
*.jar
./sdk/build/


*.iml
.gradle
/local.properties
/.idea
.DS_Store
app/build
app/app.iml
*.apk
/build
/captures

