<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.andy.materialtest">

    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>

    <application
        android:name=".MaterialApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".uis.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".uis.FruitActivity"
            android:theme="@style/FruitActivityTheme" />
        <activity android:name=".uis.Test1Activity" />
        <activity android:name=".uis.Test2Activity" />
        <activity android:name=".uis.Test3Activity" />
        <activity android:name=".uis.Test4Activity" />
        <activity android:name=".uis.Test5Activity" />
        <activity android:name=".uis.RollViewPager" />
        <activity
            android:name=".uis.Main2Activity"
            android:label="@string/title_activity_main2"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".uis.Main3Activity"
            android:label="@string/title_activity_main3"
            android:theme="@style/AppTheme"/>

        <receiver android:name=".broads.AccountListener">
            <intent-filter>
                <action android:name="android.accounts.LOGIN_ACCOUNTS_CHANGED"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>